* {
    margin: 0px;
    padding: 0PX;
    box-sizing: border-box;
}
  
.maincontent {
    display: none;
}

.cms-home .maincontent {
    display: block;
}
header.page-header {
    width: 1154px;
    margin: 0 auto;
}
main#maincontent {
    width: 1154px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}
/* // for header */
a.action.advanced {
    display: none;
}
input#search {
    border: 1.5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 106%;
}
nav.navigation {
    background-color: #fff;
    margin-top: 52px;
}
.header.content {
    border-bottom: 2px solid #00000063;
    padding: 0px !important;
    max-height: 111px;
}
.panel.header {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}
.page-header .panel.wrapper {
    border-bottom: none !important;
    padding-top: 30px;
    margin-right: 17px !important;
}
.header.panel>.header.links {
    margin-right: 60px !important;
    margin-top: 12px !important;
}

a {
    color: #636E75!important;
    font-weight: 400;
    font-size: 15px;
}
.nav-sections {
    width: 53%;
    margin: 0 auto;
    margin-bottom: 0px !important;
}
.block-search {
    margin-bottom: 0;
    margin-top: 49px;
    margin-right: 15px;
    padding-left: 0px !important;
}
.logo {
    margin-top: -20px !important;
}
.block-search .action.search:before {
  display:none !important;
}
i.fas.fa-search {
    font-size: 20px;
    color: black;
    padding-top: 6px;
    position: absolute;
    margin-left: -5px;
}
span.cart {
    color: #D5441C;
    position: absolute;
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 3px;
    font-family: cursive;
}
.minicart-wrapper .action.showcart {
    margin-top: 2px;
}
/* footer */
.page-footer {
    margin-top: auto;
    background-color: #303E48;
    max-height: 101px;
}
.action.primary {
    background: #E0C6B6;
    border: 1px solid #E0C6B6;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0 !important;
    padding-top: 12px;
    padding-bottom: 12px;
}
.action.primary:hover {
    background: #E0C6B6;
    border: 1px solid #E0C6B6;
    color: #ffffff;
  }
.footer.content {
    padding-left: 50px !important;
    padding-right: 50px!important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top:none;
}
.footericons {
    display: inline-block;
    padding-top: 5px;
}
.footericons1 {
    display: inline-block;
}
ul.footer.links {
    display: inline-flex !important;
    margin-left: 21px;
    margin-right: 0px;
    margin-top: 10px;
}
a.footerlink {
    padding: 0px 17px;
    color: #CCCFD2!important;
    font-size: 14px;
}
.footericons1 {
    display: inline-block;
    background-color: #fff;
    padding: 0px 6px;
    margin-right: 9px;
}
.footer.content .block {
    width: 36% !important;
    margin-top: -5px;
}
.block.newsletter input {
    margin-right: 35px;
    padding: 10px;
}
input#newsletter {
    margin-right: 67px;
    padding-right: 0px;
    width: 102%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.iconstyle {
    font-size: 12px;
}
i.fab.fa-google-plus-g.iconstyle {
    font-size: 14px;
}
.googleicon{
    padding: 0px 2px;
}
/* // copyrightdivstart */
.copyrightdiv {
    background-color: #F9F3F0;
    padding: 30px 50px;
}
.copyrightfloatdiv{
    float:left;
}
.copyrightdiv1 {
    padding-top: 20px;
    padding-right: 30px;
}
.copyrightdiv2 {
    padding-right: 150px;
}
.copyrightdiv3 {
    padding-left: 100px;
    display: flex;
    margin-top: 20px;
}
.copyrightdiv4 {
    padding-top: 70px;
    float: right;
}
.paragraphdiv {
    padding-left: 20px;
    padding-top: 71px;
}
p.paragraphstyle {
    font-weight: 700;
}
/* // maincontent */
.pagebottom1 {
    display: inline-block;
    width: 100%;
}
.pagebottom2 {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.galleryimg1 {
    float: left;
    width: calc(100%/6);
}
.galleryimg2 {
    width: calc(100%/6);
    float: left;
}
.bottomtext {
    width: 544px;
    margin: 0 auto;
}
p.bottomparagraph {
    font-size: 15px;
    margin-top: 50px;
}

span.botomspan {
    text-align: center;
    margin-left: 146px;
    margin-right: 167px;
}
h4.bottomheading {
    /* text-align: center; */
    font-size: 19px;
    margin-left: 174px;
}
.arrowimg {
    display: inline-block;
}
.middlepage {
    background-color: #F9F4F0;
    padding: 50px 84px;
    margin-bottom: 73px;
}
.middlepagehstyle{
    color: #D75E3B;
    font-size: 41px;
    font-weight: 100;
}
.columns .column.main {
    padding-left: 94px;
}
.products-grid.grid {
    width: 100%;
}
.product-item {
    width: calc(98%/3) !important;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display:block !important;
}
button.owl-prev {
    display: none !important;
}
button.owl-next {
    display: none !important;
}
.bootomicon {
    margin-left: -300px;
}
